/*
*
* Backpack Crud / Show
*
*/

/* .card.card-primary {
    border-top-color: #3c8dbc;
}
.card {
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
} */
/* ============================================= */
/* .small-thumbnail {
    height: 52px;
    width: 50px;
    object-fit: cover;
} */
